@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #333;
}

/* start of index styling*/

.index {
  background-image: linear-gradient(
    to top,
    #0c3483 0%,
    #a2b6df 100%,
    #6b8cce 100%,
    #a2b6df 100%
  );
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fields {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.type {
  font-size: 4.4rem;
  margin-bottom: 4vh;
  text-shadow: 4px 4px #444;
  letter-spacing: 0.4rem;
  text-align: center;
}

.type,
.option,
.btn input {
  color: white;
  font-family: "Poppins", sans-serif;
}

.option,
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0 2vh;
}

.username,
.password,
.btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 5vh;
  width: 40vw;
  background-color: white;
  margin: 2vh 0 2vh;
  border-radius: 3rem;
}

.username input,
.password input {
  width: 30vw;
  height: 4vh;
  color: #333;
  border-radius: 0 3rem 3rem 0;
  outline: none;
  border: none;
  font-size: calc(1em + 1vw);
  background: white;
}

.btn,
.btn input {
  background-color: #333;
  cursor: pointer;
  border-radius: 3rem;
  outline: none;
  border: none;
  font-size: calc(0.8em + 0.5vw);
  color: white;
  font-family: "Poppins", sans-serif;
}

.icon img {
  height: 3vh;
  width: auto;
}

.option {
  cursor: pointer;
}

/* end of index styling */

/* start of home styling */

header,
section,
footer {
  padding: 0 10vh 0 10vh;
  text-align: center;
}

header {
  height: 10vh;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
}

.greeting {
  font-size: 3rem;
}

nav {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav form button,
nav button {
  padding: 1vh;
  background-color: white;
  border: none;
  outline: 1px solid#333;
  cursor: pointer;
}

.btn-home,
.btn-edit,
.btn-logout {
  background-color: #333;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: calc(0.8em + 0.5vw);
  color: white;
  font-family: "Poppins", sans-serif;
  padding: 4px;
}

.filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
}

.radio-btn {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  user-select: none;
}

.radio-btn input {
  cursor: pointer;
}

.radio-btn div {
  display: flex;
  align-items: center;
  cursor: pointer;
}

section {
  height: 84vh;
}

section table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1vh;
}

section td,
section th {
  border: 1px solid #333;
  text-align: left;
  padding: 8px;
}

section tr:nth-child(odd) {
  background-color: #f3f3f3;
}

section tr:nth-child(even) {
  background-color: #dddddd;
}

footer {
  height: 5vh;
}

/* end of home styling*/
